
{% extends "base/base.html" %}

{% block title %}Movies{% endblock %}

{% block style %}
    body {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #1f1f1f; /* Dark background */
        margin: 0;
        padding: 0;
        color: #fff;
    }

    h1 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 32px;
        color: #fff;
    }

    .movie-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
        gap: 20px;
        padding: 0 10px;
    }

    .movie-card {
        display: flex;
        justify-content: center;
        width: 400px;
        height: 350px;
        background-color: #ffffff;
        border-radius: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .movie-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .movie-card img {
        width: 50%;
        height: 50px;
    }

    .movie-info {
        padding: 15px;
    }

    .movie-info h3 {
        font-size: 22px;
        margin: 0 0 10px;
        color: #222;
    }

    .movie-info h5 {
        font-size: 18px;
        margin: 0 0 15px;
        color: #555;
    }

{% endblock %}

{% block content %}
    <h1 style="color:#FFF">Available Movies</h1>
    <div class="movie-container">
        {% for event in schedule %}
            <div class="movie-card">
                <img src="{{ event.movie.poster.url }}" alt="{{ event.movie.title }}" style="height: 300px; width=500px">
                <div class="movie-info">
                    <a href="/booking/rooms/{{ event.id }}" class="learn-more-button"><h3>{{ event.movie.title }}</h3></a>
                    <h5>{{ event.movie.duration }}</h5>
                    <h5>{{ event.starts_at }} </h5>
                </div>
            </div>
        <br>
        {% endfor %}
    </div>
<br><br>
<div>
    <a href="/booking/rooms">Back</a>
</div>
{% endblock %}
